body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RIXGOB";
  src: url('./fonts/RIXGOB.TTF');
}

@font-face {
  font-family: "RIX";
  src: url('./fonts/rix모던고딕b.ttf');
}

@font-face {
  font-family: "RIXGOL";
  src: url('./fonts/RIXGOL.TTF');
}

@font-face {
  font-family: "Colfax";
  src: url('./fonts/Colfax-Light.otf');
}