.Create_body {
    display: flex;
    width: 100%;
}
.Create_body input{
    width: 200px;
    height: 20px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.Create_body input:first-of-type {
    margin-bottom: 10px;
}

.Create_body button {
    float: right;
    width: 100px;
    height: 50px;
}