#squidgame {
    background-image: url('../image/squidgame.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#lostark {
    background-image: url('../image/lostark.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#parasite {
    background-image: url('../image/parasite.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#kpop {
    background-image: url('../image/kpop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}