.Main_body {
    display: flex;
    flex-flow: wrap;
}
.Main_Nav_body {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-around;
}

#K-FOOD {
    background-image: url('../image/k-food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#K-INFLUENCER {
    
    background-image: url('../image/influencer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#K-CONTENTS {
    background-image: url('../image/k-contents.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#K-TOUR {
    background-image: url('../image/k-tour.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


._body {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}


.inactive {
    display: block;
    width: 250px;
    height: 250px;
    border: 1px black solid;
    margin: 20px;
}

.main_inactive {
    display: block;
    width: 200px;
    height: 200px;
    border: 1px black solid;
}

#korea {
    border: 1px black solid;
    width: 400px;
    margin : 0 auto;
    margin-bottom: 30px;

}