#jeju {
    background-image: url('../image/jeju.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#busan {
    background-image: url('../image/busan.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#seoul {
    background-image: url('../image/seoul.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#dokdo {
    background-image: url('../image/dokdo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

