.Nav_body {
    width: 100%;
    height: 3%;
}

.Nav_body ul {
    list-style: none;
    padding: 0px;
    width:100%;
    height: 100%;
    border-bottom: 1px black solid;

}

.Nav_body li {
    width: 150px;
    height: 100%;
    text-align: center;
    border-right: 1px #000 solid;
    float: left;
    display: flex;
}



.Nav_body li:last-of-type {
    border-right: none;
    border-left: 1px black solid;
    float: right;
}

.Nav_body li a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin:auto;
}